<nav id="top-navbar" >
        <div id="mCSB_2" class="mCustomScrollBox mCS-dark mCSB_horizontal mCSB_inside" style="max-height: none;" tabindex="0">
            <div id="mCSB_2_container" class="mCSB_container mCS_x_hidden mCS_no_scrollbar_x" style="position: relative; top: 0px; left: 0px; width: 100%;"
             dir="ltr">
                <ul>
                    <li class="bg-menu ismenu">
                        <span >Abrir Menu</span>
                    </li>
                </ul>
            </div>
        
        </div>
    </nav> 
    <nav id="nav-projeto" >
        <div id="mCSB_1" class="scroll"
         style="max-height: none;" tabindex="0">
            <div id="mCSB_1_container" class="mCSB_container" style="position:relative; top:0; left:0;" dir="ltr">
                <div class="projeto-label ">
                    <a href="#" title="Documentação Teste Unitário">
                        Documentação Fullstack JavaScript: API RESTful com Node.js e React
                    </a>
                    <div class="fechar-nav"><i class="fa fa-close"></i></div>
                </div>
                <ul class="nav-itens" style="height: 427px;">
                    <li class="nav-item active">
                        <a href="#!/" data-id="685" data-ordem="1" data-projeto="80">
                            Introdução {{main.pagina}}
                        </a>
                    </li>
                    <li class="nav-item item-pai ">
                        <span>
                            API RESTful com Node.js
                        </span>
                        <ul class="nav-sub-itens">
                            <li class="nav-sub-item ">
                                <a href="#!/um-configurando-o-servidor-http" data-id="690" data-ordem="7" data-projeto="80">
                                    Configurando o servidor HTTP 
                                </a>
                            </li>
                            <li class="nav-sub-item ">
                                <a href="#!/um-configuracao-de-banco-de-dados" data-id="737" data-ordem="8" data-projeto="80">
                                    Configuração de banco de dados
                                </a>
                            </li>
                            <li class="nav-sub-item ">
                                <a href="#!/um-instanciando-o-sequelize" data-id="744" data-ordem="9" data-projeto="80">
                                    Instanciando o Sequelize
                                </a>
                            </li>
                            <li class="nav-sub-item ">
                                <a href="#!/um-criando-um-model-com-o-sequelize" data-id="739" data-ordem="10" data-projeto="80">
                                    Criando um Model com o Sequelize
                                </a>
                            </li>
                            <li class="nav-sub-item ">
                                <a href="#!/um-programacao-de-middlewares-de-controller-no-express" data-id="739" data-ordem="10" data-projeto="80">
                                    Programação de middlewares de Controller no Express
                                </a>
                            </li>
                            <li class="nav-sub-item ">
                                <a href="#!/um-conectando-os-middlewares" data-id="739" data-ordem="10" data-projeto="80">
                                    Conectando os middlewares as URIs dos recursos com Express.Router
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item item-pai ">
                        <span>
                            Cliente SPA com React
                        </span>
                        <ul class="nav-sub-itens">
                            <li class="nav-sub-item ">
                                <a href="#!/dois-programando-o-appjs" data-id="775" data-ordem="17" data-projeto="80">
                                    Programando o App.js
                                </a>
                            </li>
                            <li class="nav-sub-item ">
                                <a href="#!/dois-criação-de-spoilers" data-id="773" data-ordem="18" data-projeto="80">
                                    Criação de Spoilers
                                </a>
                            </li>
                            <li class="nav-sub-item ">
                                <a href="#!/dois-listagem-de-spoilers" data-id="776" data-ordem="19" data-projeto="80">
                                    Listagem de Spoilers
                                </a>
                            </li>
                            <li class="nav-sub-item ">
                                <a href="#!/dois-edicao-de-spoiler" data-id="774" data-ordem="20" data-projeto="80">
                                    Edição de Spoiler
                                </a>
                            </li>
                            <li class="nav-sub-item ">
                                <a href="#!/dois-confirmacao-para-remocao" data-id="774" data-ordem="20" data-projeto="80">
                                    Confirmação para remoção de um Spoiler
                                </a>
                            </li>
                        </ul>
                    </li>
                    
                </ul>
            </div>
        </div>
    </nav>